---
import { Book } from '@lucide/astro';
const {nombre, progreso} = Astro.props;
const colores= {
    completado: {
        oscuro: "green-600",
        medio: "green-500",
        claro: "green-50",
    },
    progreso: {
        oscuro: "yellow-600",
        medio: "yellow-400",
        claro: "yellow-50",
    },
    sinIniciar: {
        oscuro: "gray-600",
        medio: "gray-300",
        claro: "gray-50",
    }
};
const color = progreso === 100 ? colores.completado : progreso > 0 ? colores.progreso : colores.sinIniciar;
---



 <div class={`flex flex-col bg-${color.claro} px-4 py-4 rounded-lg shadow-md text-center space-y-2 border-2 border-${color.medio}`}>
    <div class="inline-flex">
        <div class={`text-${color.oscuro} pr-2 pt-1`}>
            <Book size="18"/>
        </div>
        <span class={`text-md font-medium text-${color.oscuro}`}>{nombre}</span>
        </div>
        <div class="flex justify-between items-center">
            <span class={`text-${color.oscuro} text-sm font-medium`}>Progreso</span>
            <span class={`text-${color.oscuro} text-sm font-medium`}>{progreso}%</span> 
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2"><div class={`h-2 bg-${color.medio} rounded-full transition-all duration-1000`} style={`width: ${progreso}%;`}></div>
    </div>
</div>